:root {
  --primary-color: #f1f6c8;
  --secondary-color: #d4df90;
  --tertiary-color: #87933c;
  --accent-color: #424434;
  --text-color: #efefef;
}

body {
  background-color: var(--primary-color);
}
